<a href="https://colab.research.google.com/github/threegenie/vgames_project/blob/main/game_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA 
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler 

# read data as df
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/My Drive/vgames2.csv')
df = df.drop('Unnamed: 0',axis=1)
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [2]:
# 오류(SettingWithCopyError 발생)
pd.set_option('mode.chained_assignment', 'raise') # SettingWithCopyError

# 경고(SettingWithCopyWarning 발생, 기본 값입니다)
pd.set_option('mode.chained_assignment', 'warn') # SettingWithCopyWarning

# 무시
pd.set_option('mode.chained_assignment',  None) # <==== 경고를 끈다

In [3]:
#데이터 타입 확인
df.dtypes

Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales        object
JP_Sales        object
Other_Sales     object
dtype: object

In [4]:
#결측값 제거
df = df.dropna(axis=0)
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16241 rows x 9 columns]

In [15]:
#년도 오류 값 결측치 처리 후 정수로 변환
df['Year'] = np.where( df['Year'] <=100,0,df['Year'] )
df['Year'] = df['Year'].replace(0,np.nan)
df.dropna(axis=0,inplace=True)
df['Year'] = df['Year'].astype(int)
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...       10000
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...       40000
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...       10000
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...      130000
16596                     Toukiden: The Age of Demons  ...       30000
16597                        The King of Fighters '95  ...       10000

[16141 rows x 9 columns]

In [6]:
#M단위 제거
def replace_M(x):
  return x.str.replace('M','')

df['NA_Sales'] = replace_M(df['NA_Sales'])
df['EU_Sales'] = replace_M(df['EU_Sales'])
df['JP_Sales'] = replace_M(df['JP_Sales'])
df['Other_Sales'] = replace_M(df['Other_Sales'])

df.head()

                                             Name Platform  ...  JP_Sales Other_Sales
0                    Candace Kane's Candy Factory       DS  ...         0           0
1                                  The Munchables      Wii  ...         0        0.01
2  Otome wa Oanesama Boku ni Koi Shiteru Portable      PSP  ...      0.02           0
3                Deal or No Deal: Special Edition       DS  ...         0           0
4       Ben 10 Ultimate Alien: Cosmic Destruction      PS3  ...         0        0.04

[5 rows x 9 columns]

In [7]:
#K단위 제거
def replace_K(x):
  return x.str.replace('K','')

df['NA_Sales'] = replace_K(df['NA_Sales'])
df['EU_Sales'] = replace_K(df['EU_Sales'])
df['JP_Sales'] = replace_K(df['JP_Sales'])
df['Other_Sales'] = replace_K(df['Other_Sales'])

df.head()

                                             Name Platform  ...  JP_Sales Other_Sales
0                    Candace Kane's Candy Factory       DS  ...         0           0
1                                  The Munchables      Wii  ...         0        0.01
2  Otome wa Oanesama Boku ni Koi Shiteru Portable      PSP  ...      0.02           0
3                Deal or No Deal: Special Edition       DS  ...         0           0
4       Ben 10 Ultimate Alien: Cosmic Destruction      PS3  ...         0        0.04

[5 rows x 9 columns]

In [8]:
#Sales 칼럼들 전부 numeric으로 변경
df['NA_Sales'] = pd.to_numeric(df['NA_Sales'])
df['EU_Sales'] = pd.to_numeric(df['EU_Sales'])
df['JP_Sales'] = pd.to_numeric(df['JP_Sales'])
df['Other_Sales'] = pd.to_numeric(df['Other_Sales'])

df.dtypes

Name            object
Platform        object
Year             int64
Genre           object
Publisher       object
NA_Sales       float64
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
dtype: object

In [9]:
#K단위를 M단위로 변경 - 1000배 차이이므로 0.001 곱해줌
df['NA_Sales'] = np.where( df['NA_Sales'] >= 10,df['NA_Sales']*0.001,df['NA_Sales'])
df['EU_Sales'] = np.where( df['EU_Sales'] >= 10,df['EU_Sales']*0.001,df['EU_Sales'])
df['JP_Sales'] = np.where( df['JP_Sales'] >= 10,df['JP_Sales']*0.001,df['JP_Sales'])
df['Other_Sales'] = np.where( df['Other_Sales'] >= 10,df['Other_Sales']*0.001,df['Other_Sales'])

df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...        0.00
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...        0.00
3                    Deal or No Deal: Special Edition  ...        0.00
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...        0.00
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16141 rows x 9 columns]

In [10]:
#Sales 칼럼들에 1000000 곱해줌 - M단위로 변환하고 보기 쉽도록
df['NA_Sales'] = df['NA_Sales']*1000000
df['EU_Sales'] = df['EU_Sales']*1000000
df['JP_Sales'] = df['JP_Sales']*1000000
df['Other_Sales'] = df['Other_Sales']*1000000

df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...         0.0
1                                      The Munchables  ...     10000.0
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...         0.0
3                    Deal or No Deal: Special Edition  ...         0.0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...     40000.0
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...     10000.0
16594                     Rainbow Islands: Revolution  ...         0.0
16595                                        NBA 2K16  ...    130000.0
16596                     Toukiden: The Age of Demons  ...     30000.0
16597                        The King of Fighters '95  ...     10000.0

[16141 rows x 9 columns]

In [14]:
#Sales 데이터를 int로 변환
df['NA_Sales'] = df['NA_Sales'].astype(int)
df['EU_Sales'] = df['EU_Sales'].astype(int)
df['JP_Sales'] = df['JP_Sales'].astype(int)
df['Other_Sales'] = df['Other_Sales'].astype(int)

df[40:50]

                                                 Name  ... Other_Sales
41                                   Knights of Honor  ...       10000
42  Phoenix Wright: Ace Attorney - Trials and Trib...  ...       40000
43       Shugo Chara! 3-tsu no Tamagoto Koisuru Joker  ...           0
44                                           Crysis 3  ...       80000
45                       Resident Evil: Revelations 2  ...       30000
46  Nippon Daihyou Team no Kantoku ni Narou! Sekai...  ...           0
47                                   Sega Soccer Slam  ...       20000
48                       Hellboy: The Science of Evil  ...       20000
49                        Dreamworks Madagascar Kartz  ...       20000
51                           Chaotic: Shadow Warriors  ...       10000

[10 rows x 9 columns]

In [12]:
df.dtypes

Name           object
Platform       object
Year            int64
Genre          object
Publisher      object
NA_Sales        int64
EU_Sales        int64
JP_Sales        int64
Other_Sales     int64
dtype: object

**-전처리 완료**

플랫폼/장르/게임사/년도 로 그룹지어서 각 나라별로 세일즈 비교