<a href="https://colab.research.google.com/github/threegenie/vgames_project/blob/main/game_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA 
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler 

# read data as df
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/My Drive/vgames2.csv')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

       Unnamed: 0  ... Other_Sales
0               1  ...           0
1               2  ...        0.01
2               3  ...           0
3               4  ...           0
4               5  ...        0.04
...           ...  ...         ...
16593       16594  ...        0.01
16594       16595  ...           0
16595       16596  ...        0.13
16596       16597  ...        0.03
16597       16598  ...        0.01

[16598 rows x 10 columns]

In [5]:
df = df.drop('Unnamed: 0',axis=1)
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

플랫폼/장르/게임사/년도 로 그룹지어서 각 나라별로 세일즈 비교

In [18]:
df = df.astype('float')
df

ValueError: ignored

In [12]:
pd.pivot_table(df, index = ['Platform'], values = ['NA_Sales','EU_Sales',	'JP_Sales',	'Other_Sales'])

                 Year
Platform
2600      1982.137931
3DO       1994.666667
3DS       1997.062000
DC        1999.942308
DS        1993.198781
GB        1975.340206
GBA       1993.346486
GC        1992.330258
GEN       1993.037037
GG        1992.000000
N64       1986.506329
NES       1967.765306
NG        1994.500000
PC        1996.047720
PCFX      1996.000000
PS        1986.650126
PS2       1993.300423
PS3       1998.549847
PS4       1997.148810
PSP       1997.025898
PSV       1989.762136
SAT       1963.080925
SCD       1993.833333
SNES      1969.995816
TG16      1995.000000
WS        2000.000000
Wii       2001.210853
WiiU      2013.594406
X360      2001.785425
XB        1991.183064
XOne      2014.788732